# Data Science and Machine Learning in Astronomy with Python 

A course by Anastasiia Skoryk. 

2020/21

Take data from https://exoplanetarchive.ipac.caltech.edu/

## Practice 3. Pandas

**1. :**

- Load dataset 
- Summary statistics for numerical columns df.describe() 	
- Takes only specific column df[[col1, col2]] 	Returns columns as a new DataFrame
- Rename columns df.columns = ['a','b','c'] 	
- Change the index df.set_index('column_one') 	
- Replace all null values with the mean s.fillna(s.mean()) 	
- Takes values by filtering: Rows where 0.8 > col > 0.6 df[(df[col] > 0.6) & (df[col] < 0.8)]
- Write new dataframe to a CSV file df.to_csv(filename) 	

s.replace(1,'one') 	Replace all values equal to 1 with 'one'
s.astype(float) 	Convert the datatype of the series to float

In [ ]:
# Calculate the mean Yellow Cards given per Team¶

In [ ]:
# What is the most frequent occupation?¶
value_counts().head(1)
.value_counts().tail()

SyntaxError: ignored

In [1]:
import pandas as pd
pd.read_csv('https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=microlensing&constraint=mlmodeldef=1')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 55, saw 2