# Data Science and Machine Learning in Astronomy with Python 

A course by Anastasiia Skoryk. 

2020/21

Take data from 
https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#confirmed

## Practice 3. Pandas 
Please use Pandas library.

In [33]:
import pandas as pd

### 1. Load dataset from URL. Assign data to the variable planets. Show 5 first rows.
https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

Check the documentation for the dataset here: https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html

### 2. Describe data and find out following infornation: 

- What is the number of observations? 
- How many columns in the table?
- What are the names of all the columns?

### 3. Create new dataset (copy, not view!) from the planets with specific columns:

['pl_hostname', 'pl_letter', 'pl_name', 'pl_discmethod', 'pl_pnum', 'pl_orbper', 'pl_bmassj', 'pl_radj','st_dist', 'gaia_gmag']

Check the following information about new table: 

- number of Non-Null values
- data type of the column

### 4. Check if new dataframe is a copy of the original? 

- Change one of the value of the planets dataframe by purpose (for instanse the [0,0] value)
- Check the original dataframe
- Check the new dataframe. Has it changed?

### 5. Describe main statistics with all columns (numerical and non-numerical)

### 6. Discover the NaN values in the new table

- What is the most sparse column (contains the biggest number of NaN)?
- How many NaN values is in it?
- Replace all NaN with 0 in this column (make sure that the dataframe must change as well)