# Data Science and Machine Learning in Astronomy with Python 

A course by Anastasiia Skoryk. 

2020/21

## Practice 1. Python basics 
Please don't use any specific library (your code should not contain import statement).

**1. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):**

In [ ]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    # YOUR CODE HERE

In [ ]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Expected Output:

Sec_smallest:	-2

**2. Implement function prime_nums(n) which returns all prime numbers in the input list:**

In [ ]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE

In [ ]:
print(prime_nums(n))

NameError: ignored

Expected Output:

Index:	1

**3. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

In [ ]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    # YOUR CODE HERE

In [ ]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

Expected Output:

Index:	1

**4. Implement recursive sum of the list:**

In [ ]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    # YOUR CODE HERE

In [ ]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3, 4], [5, 6], [7, 8, 9, [10]]]))

Expected Output:

The sum of a list is 55

**5. Implement a function that check if the first and the last elements in a list are the same**

In [ ]:
def First_And_Last_Same(numberList):
    """
    :param numberList: list
    """
    print("Given list is ", numberList)
    # YOUR CODE HERE

In [ ]:
numList = [10, 20, 30, 40, 10]
print("result is", First_And_Last_Same(numList))

Expected Output:

Given list is  [10, 20, 30, 40, 10]
result is True

**6. Implement function that unpack list of tuples into tupe of two lists. Hint: use list comprehention.**

In [ ]:
def list_unpack(list_tuple):
  """
  : param list_tuple: list of tuples
  """
  # YOUR CODE HERE

In [ ]:
list = (('1','a'),('2','b'),('3','c'),('4','d'))
print(list_unpack(list))

(['1', '2', '3', '4'], ['a', 'b', 'c', 'd'])

Expected Output:

(['1', '2', '3', '4'], ['a', 'b', 'c', 'd'])